body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: inline-block;
    margin: 20px;
    
    
}

.about {
    text-align: end;
    margin-left: 800px;
    
}